vim/bundle/*
vim/.netrwhist
*.swp
config/fish/fishd.*
config/fish/functions/__ssh_agent_start.fish
config/fish/functions/__ssh_agent_is_started.fish
config/fish/conf.d/ssh-agent.init.fish
config/fish/fishfile
config/fish/completions/fisher.fish
config/fish/functions/z.awk
config/fish/functions/__ssh_agent_start.fish
config/fish/functions/__z_add.fish
config/fish/functions/getopts.fish
config/fish/functions/zclean.awk
config/fish/functions/spin.fish
config/fish/functions/__z.fish
config/fish/functions/__zo.fish
config/fish/functions/bass.fish
config/fish/functions/__z_clean.fish
config/fish/functions/__ssh_agent_is_started.fish
config/fish/functions/zadd.awk
config/fish/functions/__bass.py
config/fish/functions/__z_complete.fish
config/fish/functions/gitignore.fish
config/fish/completions/spin.fish
config/fish/completions/gitignore.fish
config/fish/conf.d/z.fish
config/fish/conf.d/ssh-agent.init.fish

work
out
build.sh
efiboot
isolinux
syslinux
airootfs/root/install.txt
airootfs/root/.automated_script.sh
airootfs/root/.zlogin
