vim/bundle/*
vim/.netrwhist
*.swp
config/fish/fishd.*
config/fish/functions/__ssh_agent_start.fish
config/fish/functions/__ssh_agent_is_started.fish
config/fish/conf.d/ssh-agent.init.fish
config/fish/fishfile
config/fish/completions/fisher.fish
